<tw-storydata name="Team Combat Disaster" startnode="1" creator="Twine" creator-version="2.0.8" ifid="462B7A85-9AD8-4101-A6BE-085A956AF0A0" format="Harlowe" options=""><style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css">


</style><script role="script" id="twine-user-script" type="text/twine-javascript">


</script><tw-passagedata pid="1" name="Start" tags="" position="1741.6666666666667,248.33333333333334">Once upon a time, in a kingdom far far away. 
There lived this poor fella, who had been cursed with inability to make his own decisions.

But there were these voices in his head, telling him what to do. Usually they were arguring... and some times they were cheering about beer. But ONE day they brought him out of his house onto the winding road, and he found himself standing before a crossroad. 

He looks to the right and sees clouds of &lt;b&gt;doom&lt;/b&gt;, looking left he sees flowers in &lt;i&gt;bloom&lt;/i&gt;...

Which way to go?

[[A. Go left|left]]
[[B. Go right|right]]</tw-passagedata><tw-passagedata pid="2" name="left" tags="" position="1620,378.33333333333337">He walks down the path for many hours alone, when suddenly he is met by a handsome man astride a mighty steed.

&quot;Ho traveler! Have you by any chance seen a princess pass by?&quot;

The poor fell wonder what to answer, to speak the truth or to lie?

[[A. Truth|truth]]
[[B. Lie|lie]]</tw-passagedata><tw-passagedata pid="3" name="right" tags="" position="1878.3333333333335,378.33333333333337">He walks down the path for many hours alone, when suddenly a &lt;i&gt;mysterious&lt;/i&gt; Garden Gnome blocks his path.
It stares at him with its painted beedy eyes, but is standing quite still, as sculputures of clay often do...

[[A. Pick up the gnome and bring it with you!| gnome]]
[[B. Kick the gnome...| kick]]</tw-passagedata><tw-passagedata pid="4" name=" gnome" tags="" position="1878.3333333333335,503.33333333333337">The poor fellow pick up the gnome which utters no word of protest, and he ventures forth on his journey, having passed his first test.

The poor fellow reaches a small village set alight with doom and flames.
And he approach a weeping farmer clutching in his arms a golden chain.

A. Ask him what happened?
B. Steal that chain

[[ask|ask]]
[[steal|steal]]
</tw-passagedata><tw-passagedata pid="5" name=" kick" tags="" position="2005,496.6666666666667">&quot;The fuck are you doing?!&quot; The Gnome cried in dispair.
&quot;You broke my hat you fool! I&#x27;ll make you pay for that!&quot; 

The gnome then pulled a rifle from its back, and shot a hole through our hero ending his story just like that...

[The End]</tw-passagedata><tw-passagedata pid="6" name="truth" tags="" position="1751.6666666666667,503.33333333333337">&quot;I have not seen your princess I am sorry to say.&quot; the poor fellow speaks the truth and the knight frowns in distain.

&quot;Well you are a useless sod aren&#x27;t you?&quot; he sneers and kicks him aside.
&quot;Move away then foul peasant, I have orders I must abide!&quot;

So the poor fellow watch the knight disappear down the winding road, then pulls himself up with nothing to his name, but the mud stuck in his coat.

The poor fellow reaches a small village set alight with doom and flames.
And he approach a weeping farmer clutching in his arms a golden chain.

A. Ask him what happened?
B. Steal that chain

[[ask|ask]]
[[steal|steal]]
</tw-passagedata><tw-passagedata pid="7" name="lie" tags="" position="1550,503.33333333333337">&quot;I think I saw her back when I last took a turn, follow the road and go left and you should be right on her trail.&quot; the poor fellow lied smoothly and the knight smiled bright.

&quot;Thank you good sir, you have done your king and country a great service. Take this for our troubles and good speed ahead.&quot;

The knight throws him an apple and rides on ahead. The fellow stare at the fruit and wonders what to do with it.

[[A. Eat it| eat]]
[[B. Save it|save]]</tw-passagedata><tw-passagedata pid="8" name=" eat" tags="" position="1476.6666666666667,651.6666666666667">The poor fellow eats the apple, then stiffens at the taste. He is suddenly very sleepy, and he falls over on the road. Which for the voices in his head probably would have known would happen, had they ever read a proper fairy tale before! 

[The End]</tw-passagedata><tw-passagedata pid="9" name="save" tags="" position="1626.6666666666667,651.6666666666667">The poor fellow pockets the apple with a smile on his face, and continues on his journey an apple richer, or heavier depending on how you see it.

The poor fellow reaches a small village set alight with doom and flames.
And he approach a weeping farmer clutching in his arms a golden chain.

A. Ask him what happened?
B. Steal that chain

[[ask|ask]]
[[steal|steal]]
</tw-passagedata><tw-passagedata pid="10" name=" walking" tags="" position="483.33333333333337,641.6666666666667">The poor fella head further down the path, and to his side he sees 3 kittens.

The first and the second kittens stand on top eachother. The first kitten is small and tiny, but looks at the poor fella with a kind gleam in its eyes. The second kitten is a bit larger, but looks at the poor fella with mysterious yet wonderful eyes.

The third kitten stand as tall as the two first kittens staked ontop of eaochter, and looks straight into the poor fellas eyes. It fills him with detemination.


</tw-passagedata><tw-passagedata pid="11" name="2 kittens" tags="" position="465,806.6666666666667">As the poor fella get closer he notice something odd about the 2 kittens. They seem to be swaying from side to side. In front of them stands a emptied milk bowel, and behind them you notice a pile of emptied bottles.

What does the poor fella do?

[[A. Sneak behind the 2 kittens |2 kittens, sneak]]
[[B. Jump ontop the 2 kittens |2 kittens, jump]]</tw-passagedata><tw-passagedata pid="12" name="1 kitten" tags="" position="590,783.3333333333334">As you move closer the kittens seems to get larger and larger. It might have been further away than the poor fella has anticipated. Soon it starts towering over the poor fellas head. Finally he approaches the now giant kitten.

What should he say to the giant kitten?

[[A. Fite me bro|Kitten 1, fight]]
[[B. Hello mighty kitten. Can you tell me what lies ahead?|Kitten 1, pathAhead]]</tw-passagedata><tw-passagedata pid="13" name="walking, 2" tags="" position="451.6666666666667,1123.3333333333335">The poor fella continues once again his path down the road.

Down the road he notices a giant in the middle of road. With no fear, the poor fella approaches the giant. As he comes closer, the giants single eye focuses on the poor fella. Before he has a chance to react, the gaint says

&quot;Fee-fi-fo-fum, to pass Good old one-Eye Jackson, you will have to answer a riddle of my own creation. 

//Which creature walks on four legs in the morning, two legs in the afternoon, and three legs in the evening?// &quot;

[[A. A human?|giantRight]]
[[B. I have Absolutely no idea|giantWrong]]</tw-passagedata><tw-passagedata pid="14" name="Kitten 1, fight" tags="" position="705,985">The kittens spares you no time to react, and swing a giant claw straight at the poor fellas face. The poor fella barly avoids the giant. The determination the poor fella felt totally faded away, and suddenly taking a fight with this kitten seems like a bad idea. 

1. ((However you remember your apple from the knight! Maybe it can help you fight the kitten?))

[[A. Throw the apple at it!|kitten 1, appleThrow]]
[[B. Go for a punch!|kitten 1, punch]]

2. ((However you remember your garden gnome from the road! Maybe it can help you fight the kitten?))

[[A. Throw the garden gnome at it!|kitten 1, gardenGnome]]
[[B. Go for a kick!|Kitten 1, kick]]

3.  ((This fight seemed to one sided, but you feel you got the power for one last kick or punch. Which would be the most efficient?))

[[A. Go for a punch!|kitten 1, punch]]
[[B. Go for a kick!|Kitten 1, kick]]</tw-passagedata><tw-passagedata pid="15" name="Kitten 1, pathAhead" tags="" position="830,811.6666666666667">The gaint kitten does not seem to react at all to your question.

[[A. Ignore it and move on|walking, 2]]
[[B. Punch it to gets it attention|kitten 1, punch]]</tw-passagedata><tw-passagedata pid="16" name="kitten 1, appleThrow" tags="" position="451.6666666666667,931.6666666666667">The poor fella throw the apple he got from the knight at the kittens face, and it swallows it whole. Suddenly the giant kitten starts to shake uncontrollably until it shrinks all the way down to a little tiny kitten. The once giant kitten doesn&#x27;t look so fierce anymore and meows kindly at you. It fills you with deremination

[[A. Pick up the little kitten and continue your path|walking, 2]]
[[B. Kick the damn beast!|walking, 2]]</tw-passagedata><tw-passagedata pid="17" name="kitten 1, punch" tags="" position="705,860">The poor fella punch it right in the face!

It&#x27;s not very effective...

The giant kitten licks it balls and cut your head clean off.

[The end]</tw-passagedata><tw-passagedata pid="18" name="kitten 1, gardenGnome" tags="" position="726.6666666666667,1235">The poor fella throws the garden gnome at the cat. Unexpedtly the cat catches the gnome midair with one of its giant paws. &quot;Howdy&quot; the garden gnome answers. The giant kitten is taken aback by the talking gnome. The poor fella is unaffected. 

Should the poor fella escape while it is distraced?

[[A. Escape! Escpaaape!|walking, 2]]
[[B. No man should ever flee!|Kitten 1, kick]]</tw-passagedata><tw-passagedata pid="19" name="Kitten 1, kick" tags="" position="723.3333333333334,1110">You kick it square and fair in the balls!

It&#x27;s not very effective...

The giant kitten licks it balls and cut your head clean off.

[The end]</tw-passagedata><tw-passagedata pid="20" name="2 kittens, sneak" tags="" position="326.6666666666667,833.3333333333334">The poor fella sneak behind the 2 kitten unotticed. He notices the empty bottles are vodka. The 2 kittens might be drunk.

[[A. Jump ontop of the 2 kittens |2 kittens, jump]]
[[B. Drink the rest of the bottles|2 kittens, wander]]</tw-passagedata><tw-passagedata pid="21" name="2 kittens, jump" tags="" position="326.6666666666667,980">As the poor fella jumps ontop of the kittens they become very aware of his pressence. They jump off with the poor fella but he cannot hold onto the kittens much longer.

1. ((But wait! he remembers the apple he picked up. Maybe it can help him?))

[[A. Feed the kittens the apple|2 kittens, appleGive]]
[[B. Hold tight as they jump on |2 kittens, jump, 2]]


2. ((The poor fella loses his grip and falls to his death

[The end]))</tw-passagedata><tw-passagedata pid="22" name="2 kittens, wander" tags="" position="58.333333333333336,791.6666666666667">The poor fellas head starts to spin, as he drinks the last bit. When he turns around he sees the kitten has disappeared, and he has no idea how to find the route back.

Was the road south or north?

[[A. When in doubt go south|2 kittens, cliff]]
[[B. It was definitely north|walking, 2]]</tw-passagedata><tw-passagedata pid="23" name="2 kittens, appleGive" tags="" position="136.66666666666669,928.3333333333334">He gives the kittens half a piece of apple each. Suddenly their jumping slows down and they both fall onto their backs. Dead. The poor fella is unaffected.

[[A. Pick up a kitten and move on|walking, 2]]
[[B. Move on |walking, 2]]</tw-passagedata><tw-passagedata pid="24" name="2 kittens, jump, 2" tags="" position="301.6666666666667,1108.3333333333335">The poor fella loses his grip and falls to his death

[The end]</tw-passagedata><tw-passagedata pid="25" name="2 kittens, cliff" tags="" position="0,940">The poor fella start the journey onwards to south, but due to his inability to see clearly, the poor fella falls straight of a cliff

[The End]</tw-passagedata><tw-passagedata pid="26" name="giantRight" tags="" position="451.6666666666667,1273.3333333333335">Double-click this passage to edit it.</tw-passagedata><tw-passagedata pid="27" name="giantWrong" tags="" position="601.6666666666667,1273.3333333333335"></tw-passagedata><tw-passagedata pid="28" name="ask" tags="" position="1760,798.3333333333334">&#x27;What is this dear farmer? Why are you weeping so?&#x27;
&#x27;The feline terror has destroyed my village and brought doom to us all.&#x27;

The poor fellow leaves the farmer, to mourn his loss in peace. Outside the village he finds a trail of flame and fire, and he follows it without thinking, for that is what the narrator desires. 

No dragon awaits him however, and he comes to a hold, staring oddly at a kitten, sleeping sound on a stone.

A. Poke the kitten
B. Sneak around the kitten

[[poke|poke]]
[[sneak|sneak2]]</tw-passagedata><tw-passagedata pid="29" name="steal" tags="" position="1955,795">&#x27;What in the world are you doing?!&#x27; cries the farmer in dispair, but the poor fellow is already running with a new necklace to wear.

Outside the village he finds a trail of flame and fire, and he follows it without thinking for that is what the narrator desires. 

No dragon awaits him however, and he comes to a hold, staring oddly at a kitten, sleeping sound on a stone.

A. Poke the kitten
B. Sneak around the kitten

[[poke|poke]]
[[sneak|sneak2]]</tw-passagedata><tw-passagedata pid="30" name="poke" tags="" position="1955,945">The poor fellow pokes the cat gently, smiles widely at the feel of soft fur, but then there&#x27;s a thunderous rumble and the kittens begins to blur.

The small creature grows, right before his eyes, into a great furry monster that breathes fire... oh my.

if no objects1
A. Plead Mercy

[[obj1|obj1]]

if no objects2
A. Fight for your life!

[[obj2|obj2]]

Necklace
A. Put the necklace on the cat!
[[necklace|necklace]]

Apple
B. Throw the apple at the kitten!
[[apple|apple]]

Gnome
B. Throw the gnome at the kitten!
[[gnome|gnome]] </tw-passagedata><tw-passagedata pid="31" name="sneak2" tags="" position="2105,945">The poor fellow sneaks around the kitten and find to his great surprise, five bottles of vodka, empty and of great size...


if no objects1
A. Kill the kitten

[[obj1|obj1_2]]

if no objects2
B. Leave the kitten

[[obj2|obj2_2]]

Necklace
A. Put the necklace on the cat
[[necklace|necklace_2]]

Apple
B. Throw the apple at the kitten!
[[apple|apple_2]]

Gnome
B. Place the gnome in front of the kitten
[[gnome|gnome_2]] </tw-passagedata><tw-passagedata pid="32" name="obj1" tags="" position="1463.3333333333335,1086.6666666666667">The poor fellow and cries and pleads for his life, but is turned into a crips, what an end for the poor guy...

[The End]
</tw-passagedata><tw-passagedata pid="33" name="obj2" tags="" position="1591.6666666666667,1088.3333333333335">The poor fellow brings up his fists and fights for his life, but is turned into a crips, what an end for the poor guy...

[The End]
</tw-passagedata><tw-passagedata pid="34" name="necklace" tags="" position="1723.3333333333335,1093.3333333333335">
Should probably had done that while its sleeping. Now its impossible to reach. The poor fellow and cries and pleads for his life, but is turned into a crips, what an end for the poor guy...

[The End]</tw-passagedata><tw-passagedata pid="35" name="apple" tags="" position="1851.6666666666667,1093.3333333333335">The poor fella throw the apple he got from the knight at the kittens face, and it swallows it whole. The monster starts to shake and falls over, very much dead...

The poor fellow returns to his city, quite shocked by this design, and he is greeted as a hero, well done team you made it, this time...

[The End]</tw-passagedata><tw-passagedata pid="36" name="gnome" tags="" position="1976.6666666666667,1095">The poor fellow throws the gnome at the kitten with a cry, and to his great shock the statue moves and attacks with a battle cry.

The gnome kicks and punch beating the monster to a pulp, and after it wanders off leaving the poor fellow to silently gulp.

The poor fellow returns to his city, quite shocked by this design, and he is greeted as a hero, well done team you made it, this time...

[The End]</tw-passagedata><tw-passagedata pid="37" name="obj1_2" tags="" position="2105,1095">The poor fellow wring the neck of the cat while it is asleep, and walks home along the road feeling quite off of what he did...

The poor fellow returns to his city, quite shocked by this design, and he is greeted as a hero, well done team you made it, this time...

[The End]</tw-passagedata><tw-passagedata pid="38" name="obj2_2" tags="" position="2255,1095">The poor fellow leaves the kitten and returns home to his village, only to be burned to death the next day when the cat monster returns for another pillage. 

[The End]</tw-passagedata><tw-passagedata pid="39" name="necklace_2" tags="" position="2405,1095">The poor fellow puts the necklace careful around the kittens neck, and when the thing locks its sudden a collar what the heck?

The kitten purs and stretches and the poor fellow picks it up with a smile, bringing it home with him is the first decision he has made in a while.

The poor fellow returns to his city, quite shocked by this design, and he is greeted as a hero, well done team you made it, this time...

[The End]</tw-passagedata><tw-passagedata pid="40" name="apple_2" tags="" position="2555,1095">The poor fellow throws the apple at the kitten, watching it bounche off its fur, but then there&#x27;s a thunderous rumble and the kittens begins to blur.

The small creature grows, right before his eyes, into a great furry monster that breathes fire... oh my.

The poor fellow and cries and pleads for his life, but is turned into a crips, what an end for the poor guy...

[The End]</tw-passagedata><tw-passagedata pid="41" name="gnome_2" tags="" position="2705,1095">The poor fellow place the gnome in front of the kitten and waits a while, the cat open its eyes and purs in delight at this new sight.

The kitten and the gnome ends up the worlds best friends, and just like that, the threat of the monster cat ends.

The poor fellow returns to his city, quite shocked by this design, and he is greeted as a hero, well done team you made it, this time...

[The End]</tw-passagedata></tw-storydata>